*{
    padding: 0%;
    margin: 0;
}

article{
    background-color: rgb(135, 193, 222);
}

nav{
    background-color: black;
}

footer{
    color: rgb(16, 11, 11);
    background-color: #f7f6f6;
    padding: 2%;
}